

:root {
  --colorOne: #f4f4f5;
  --colorTwo: #6bafe4;
  --colorThree: #23272b;
  --colorFour: #9a9ea2;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

